﻿<!doctype html>
<html lang="en" ng-app="app">
<head>
    <meta charset="UTF-8">
    <title>Iceberg Search</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" />
    <style>[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
 }</style>
</head>
<body>

<div ng-controller="MainCtrl">

    <div ng-if="!model.dataLoaded">Loading...</div>

    <div ng-cloak>
        <h1>Iceberg Movies</h1>

        <label for="model.filter">Search</label> <input type="text" ng-model="model.filter" id="filter" />

        <label>{{model.filterMessage}}</label>

        <div ng-show="model.movies.length > 0">
            <table id="moviesTable" class="table table-striped">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Year</th>
                        <th>Rating</th>
                        <th>Duration</th>
                        <th>Actors</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="movie in model.movies">
                        <td class="title">{{movie.title}}</td>
                        <td class="year">{{movie.year}}</td>
                        <td class="rating">{{movie.rating}}</td>
                        <td class="duration">{{movie.duration / 60}}</td>
                        <td class="actors">{{model.getActors(movie)}}</tdclass="actors">
                    </tr>
                </tbody>
            </table>
        </div>

        <div id="matchedXofYMessage">
            {{model.getXofYMessage(model.movies.length, model.allMovies.length)}}
        </div>
    </div>
</div>

<script src="js/lib/angular.js"></script>
<script src="js/app.js"></script>

</body>
</html>